thead tr td p {
    margin: 0;
    padding: 0;
    place-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
.table {
    width: 100vw;
    height: auto;
}
.panel {
    overflow: auto;
}
#page-wrapper {
    position: absolute;
    top: 10vh;
    margin: 0;
    padding: 2vw;
    height: auto;
    right: 0;
    width: 80vw;
}
h1 {
    margin: 2vh 0;
    font-size: 4rem;
    text-align: left;
    text-transform: capitalize;
    border-bottom: .1em solid #008e00;
    color: black;
    font-weight: inherit;
    padding-bottom: 1vh;
}
li[class="last_menu"] {
    display: none;
}
table {
    width: 100%;
    margin: 0;
    margin-top: 5vh;
    border-radius: 5px;
}
#memo {
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    box-shadow: 0 0 7px;
}
h3 {
    margin: 0;
    padding: 10px;
}
form {
    padding: 10px 0;
}
form:hover, table:hover {
    box-shadow: 0 0 7px;
    padding: 10px;
    transition: .5s;
}
form input[name=receiver], form input[name=subject] {
    margin-bottom: 10px;
}
button[name=send_message], button[name=send_memo] {
    background-color: green;
    border: 1px solid green;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.submit_btn {
    text-align: center;
}
form input[name=picture], form textarea[name=memo_body] {
    margin-bottom: 10px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.table {
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    text-align: center;
    height: auto;
}
.table:hover {
    box-shadow: 0 0 7px black;
}
input[type=text] {
    float: left;
    width: 100%;
    height: auto;
    margin: 0;
}

input[type=submit] {
    color: white;
    padding: 12px 20px;
    border: 1px solid #008e00;
    border-radius: 4px;
    cursor: pointer;
    background-color: #008e00;
}

input[type=submit]:hover {
    background-color: #45a049;
}
#navigation {
    height: 10vh;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
}
#navbar {
    background-color: #008e00;
    height: 10vh;
    padding: 0;
    margin: 0;
}
#navigation li a {
    padding: 10px;
    height: 10vh;
}
.navbar-toggle {
    position: absolute;
    top: 0;
    right: 0;
    padding: .3em;
    border: 0;
    margin: 0 3vw;
    z-index: 9;
    height: 10vh;
    width: 10vw;
}
.navbar-toggle i {
    font-size: 4rem;
    color: white;
}
.brand {
    height: 10vh;
    width: 20vw;
    padding: 0;
    margin: 0;
}
@media only screen and (max-width: 425px) {
    .panel {
        overflow: scroll;
    }
    #page-wrapper {
        position: absolute;
        top: 10vh;
        margin: 0;
        padding: 2vw;
        height: auto;
        right: 0;
        width: 100vw;
    }
    .brand > img[alt="pulilan logo"] {
        width: auto;
        height: 10vh;
    }
    ul[id="navigation"] {
        display: none;
    }
    li[class="last_menu"] {
        display: block;
    }
    h1 {
        margin: 3vh 0;
        font-size: 3em;
        text-align: center;
        text-transform: uppercase;
        padding: 0;
        border-bottom: none;
        font-weight: bold;
        color: white;
        background-color: #008e00;
        border-radius: 5px;
    }
}
.brand img {
    width: 20vw;
    height: 10vh;
    padding: 0;
    margin: 0;
    background-color: rgb(0,0,0,0.5);
    box-shadow: 0 0 10px black;
}
.user-tag {
    margin: 0;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 5px;
    display: block;
    background-color: rgb(0,0,0,.4);
    border-radius: 5px;
}
.collapse.in {
    display: inline;
    width: 50vw;
    right: 0;
    top: 10vh;
    background-color: #008e00;
    padding: 0;
    margin: 0;
}
.collapse.in .user-section {
    display: none;
}
.collapse.in #nav-back {
    height: 90vh;
    width: 50vw;
    z-index: 3;
    position: fixed;
    top: 10vh;
    background-color: #008e00;
    right: -7px;
}
@media only screen and (min-width: 425px) {
  .pace {
    position: absolute;
    top: 15vh;
    right: 10vw;
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: 2em;
  }
}