.user-info {
    display: block;
    color:#000!important;
    display: inline-block;
    padding: 15px;
    margin-bottom: 0px
}
.user-text-online {
    font-size:18px;
    color:#fff
}
.user-circle-online {
    width: 15px!important;
    height: 15px!important;
}

/* side-menu section */
.nav > li > a:hover, .nav > li > a:focus {
    background-color:rgba(74, 72, 126, 0);
}
.navbar-top-links  .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #75C5B8;
    color: gray;
    text-shadow: 1px 5px 25px white;
}
.navbar-top-links a:hover {
    text-shadow: 1px 5px 25px white;
}
.navbar-top-links > li > a {
    color: #FFFFFF;
}
#side-menu {
    background-color: #008e00;
}
#side-menu li {
    cursor: pointer;
}
#side-menu a {
    color:#fff;
    padding-bottom: 5px;
}
.selected {
    background-color:rgb(83, 163, 163);
}
/* back colors */
.blue {
    background-color:rgb(113, 159, 241);
}
.green {
    background-color:rgb(144, 236, 192);
}
.red {
    background-color:rgb(255, 102, 133);
}
.yellow {
    background-color:rgb(237, 253, 46);
}
/* No border */
.no-boder {
    border:0px solid #5bc0de !important;
}
.navbar-header {
    position: absolute;
    height: 10vh;
    padding: 0;
    margin: 0;
}
@media (min-width: 768px;) {
    nav {
        position: absolute;
        top: 10vh;
        width: 20vw;
    }   
}
@media (max-width: 664px;) {
    .navbar-header {
        width: 664px;
    }   
}
.navbar-brand {
    padding-left:20px;
}
.navbar-brand img {
    height:30px;
}
.top-label {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -24px;
    margin-right: -24px;
}
/*large font*/
.large-font {
    font-size:18px;
}
.body-Login-back {
    background-color:#84B899;
}
.margin-tips {
    margin:5px;
}
h1 {
    margin-top: 10vh;
    margin-bottom: 0;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid;
    padding-bottom: 1vh;
}
@media(min-width:426px) {
    h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 36px;
        text-align: left;
        text-transform: inherit;
        border-bottom: 0;
        padding-bottom: 0;
    }
}